#title {
    background-color: #3459e6;;
    color: #fff;
}

body {
    font-family: "Montserrat";
}

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.3rem;
    line-height: 1.3;
    font-weight: bold;
}

.img-mockup {
    width: 40%;
    margin-left: 100px;
    transform: rotate(20deg);
    position: absolute;
}

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
}

.download-button {
    margin: 5% 3% 5% 0;
}

@media (max-width: 1028px) {

    #title {
        text-align: center;
    }
    .img-mockup {
        position: static;
        transform: rotate(0);
        width: 65%;
    }
}

#footer {
    text-align: center;
    margin: 7%;
}

.logopoltek {
    width: 10%;
    margin: 3% 3%;
}

.ft-icons {
    margin: 3% 1%;
}