{% extends 'myapp/base.html' %}

{% block body %}
<h3 class="text-center m-4">Edit Uji Kesesuaian</h3>
{% if success %}
<div class="alert alert-success" role="alert">
    Uji Kesesuaian updated sucessfully.
    <a href="{% url 'home_ukes' %}" class="alert-link">Go to Uji Kesesuaian.</a>
</div>
{% else %}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card bg-secondary mb-3">
            <div class="card-header">Edit Uji Kesesuaian</div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{% url 'home_ukes' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}