{% extends 'myapp/base.html' %}

{% block body %}
<!--Section: FAQ-->
<div class="container justify-content-center">
    <section>
        <h3 class="text-center mb-4 pb-2 text-primary fw-bold mt-3">Paduan Pengguna</h3>

        <div class="row">
            <div class="div class=col-xl-12 col-lg-12">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        Langkah-langkah Penggunaan Sistem
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">
                                        <br>1. Buat akun pada halaman Sign Up
                                        <br>2. Anda akan diarahkan ke halaman Log In, masuk dengan akun yang terdaftar
                                        <br>3. Setelah masuk, Anda dapat memilih menu Jadwal, Uji Penerimaan, Pemantauan
                                        Kinerja Rutin (Uji Kesesuaian dan Kalibrasi), Pemeliharaan (Preventif dan
                                        Korektif), Edit Akun, Panduan Pengguna, serta Log Out
                                        <br>4. Anda juga dapat mencari item yang Anda inginkan pada search bar
                                        <br>5. Untuk menambahkan item baru, Anda tinggal meng-klik tombol create pada
                                        tiap
                                        <br>menu lalu mengisi formulir tiap item
                                        <br>6. Item yang tersimpan pada database dapat langsung tampil. Anda pun dapat
                                        mengedit, melihat, serta menghapus item tersebut
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 col-lg-12">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                            Mengapa Sistem Ini Dibuat?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingTwo">
                                        <div class="accordion-body">
                                            Sistem ini dibuat untuk memudahkan pengguna, baik dari pihak perusahaan
                                            maupun rumah sakit untuk melaksanakan program Quality Control untuk Pesawat
                                            Sinar-X Radiografi Umum.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseThree">
                                        Apa itu Uji Penerimaan?
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                                    aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        Uji penerimaan atau Acceptance Testing bertujuan untuk memverifikasi bahwa
                                        spesifikasi pesawat sinar-X yang telah diinstal sesuai dengan spesikasi yang
                                        telah disepataki sebelumnya. Uji penerimaan atau Acceptance Testing bertujuan
                                        untuk memverifikasi bahwa spesfikasi pesawat sinar-X yang telah diinstal sesuai
                                        dengan spesikasi yang telah disepataki sebelumnya.
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                            Apa itu Kalibrasi?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingFour">
                                        <div class="accordion-body">
                                            Kalibrasi pesawat sinar-X adalah proses pengecekan dan pengaturan akurasi
                                            dari keluaran pada pesawat sinar-X dengan cara membandingkan keluaran
                                            tersebut dengan standar atau tolak ukur.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                            Apa itu Uji Kesesuaian?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingFive">
                                        <div class="accordion-body">
                                            Uji kesesuaian adalah uji yang bertujuan untuk memastikan bahwa pesawat
                                            sinar-X berada dalam kondisi andal, baik untuk kegiatan radiologi diagnostik
                                            maupun intervensional dan memenuhi peraturan perundang-undangan.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-12 col-lg-12">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix"
                                            aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
                                            Apa itu tindakan Pemeliharaan?
                                        </button>
                                    </h2>
                                    <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                                        aria-labelledby="panelsStayOpen-headingSix">
                                        <div class="accordion-body">
                                            Pemeliharaan peralatan medis pun terdiri atas 2 jenis kegiatan, yaitu
                                            Pemeliharaan Preventif dan Korektif.
                                            Pemeliharaan preventif adalah kegitaan pemeliharaan yang dilaksanakan secara
                                            terjadwal dan bertujuan untuk memperpanjang umur perawalatn dan mencegah
                                            kerusakan pesawat sinar-X.
                                            Pemeliharaan korektif merupakan kegiatan perbaikan terhadap pesawat sinar-X
                                            yang mengalami kerusakan dengan tujaun untuk mengembalikan fungsi pesawat
                                            sinar-X sesuai dengan kondisi awalnya
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
<!--Section: FAQ-->
{% endblock %}